asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
backcall==0.1.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.3
decorator==4.3.0
Django==1.11
docopt==0.6.2
gunicorn==19.9.0
html5lib==1.0b10
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
lxml==4.3.0
parsel==1.5.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.7
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.3.1
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
python-oembed==0.2.4
pytz==2018.7
queuelib==1.5.0
requests==2.18.4
selenium==3.141.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.7.2
traitlets==4.3.2
Twisted==22.10.0
urllib3==1.22
w3lib==1.20.0
wcwidth==0.1.7
webencodings==0.5.1
zope.interface==4.6.0
